<div class="details-container row m-5 p-3">
    <h1 class="row m-3 p-3"><i class="bi bi-car-front-fill"> Car Agreement</i></h1>
    <div class="details-items col m-3 p-3">
        <div class="items m-1 p-1">
            <strong><i class="bi bi-car-front"> {{carDetail?.maker}}</i></strong>
        </div>
        <div class="items m-1 p-1">
            <strong><i class="bi bi-alexa"> {{carDetail?.model}}</i></strong>
        </div>
        <div class="items m-1 p-1">
            <strong><i class="bi bi-currency-rupee">{{carDetail?.rentPrice}}/day</i></strong>
        </div>
        <div class="items p-1">
            <div *ngIf="carDetail?.availibilityStatus=='available'" class="available p-1 m-1 text-center h6"><i class="bi bi-emoji-smile-fill"></i> Available</div>
            <div *ngIf="carDetail?.availibilityStatus=='unavailable'" class="not-available p-1 m-1 text-center h6"><i class="bi bi-emoji-frown-fill"></i> Unavailable</div>
        </div>
    </div>
    <div class="button-container col m-3 p-3">
        <form *ngIf="carDetail?.availibilityStatus=='available'" [formGroup]="agreementForm" (ngSubmit)="submitForm(agreementForm)">
            <label class="m-1 p-1 h5" for="days">Duration in Days(From Today)</label>
            <input class="m-1 p-1 form-control" formControlName="rentalDuration"type="number" name="rentalDuration" placeholder="Enter number of days to rent" id="days">
            <div *ngIf="!rentalDuration?.valid && (rentalDuration?.dirty || rentalDuration?.touched)" class="m-1 p-1" >
                <div *ngIf="rentalDuration?.errors?.['required']" style="color: red;">This field is Required.</div>
                <div *ngIf="rentalDuration?.errors?.['pattern']" style="color: red;">Please write a valid day.</div>
            </div>
            <button [disabled]="!agreementForm.valid" class="btn btn-primary m-1 p-1" type="submit">Rent Now</button>
        </form>
        <div  *ngIf="carDetail?.availibilityStatus=='unavailable'" class="unavailable m-2 p-2">
            <div class="h1">
                Currently Not Available
            </div>
        </div>
    </div>
</div>