<nav class="navbar navbar-dark">
  <div class="navbar-brand ms-3" routerLink="home" *ngIf="!adminLogin()">
    <h5 class="nav-link">Car App App User</h5>
  </div>
  <div class="navbar-brand pe-auto ms-3" routerLink="admin_home" *ngIf="adminLogin()">
    <h5 class="nav-link">Car App Admin</h5>
  </div>
  <div class="navbar-content row me-4">
    <!-- anonymous users -->
    <div class="col" routerLink="login" *ngIf="!userLogin() && !adminLogin()">
      Login
    </div>
    <!-- logged in users  -->
    <div class="col" *ngIf="userLogin()" routerLink="myAgreements">
      MyAgreements
    </div>

    <!-- admin users  -->
    <div class="col" *ngIf="adminLogin()" routerLink="admin_home">
      Home
    </div>
    <div class="col" *ngIf="adminLogin()" routerLink="admin-carlist">
      All_Cars
    </div>
    <div class="col" *ngIf="adminLogin()" routerLink="admin-create-car">
      Create_Car
    </div>
    <!-- END  -->
    <div (click)="logOut()" class="col" *ngIf="isLoggedIn()">
      Logout
    </div>

  </div>
</nav>