.list-items{
    background: rgb(190, 126, 190,0.2);
    border: 1px solid rgb(216, 135, 216);
    border-radius: 4px;
}
.error
{
    color: red;
}

.available{
    background-color: rgb(53, 202, 53);
    color: aliceblue;
    border-radius: 5px;
}
.not-available{
    background-color: red;
    color: aliceblue;
    border-radius: 5px;
}

.unavailable{
    background: rgb(255, 0, 0,0.3);
    border-radius: 10px;
}

.pending{
    background-color: rgb(255, 0, 0,0.7);
}

.request{
    background-color: rgb(255, 140, 0);
}

.approve{
    background-color: rgb(18, 236, 36);
}